* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(239, 240, 219);
}

p {
  font-size: 1.1vw;
}

rect {
  fill: transparent;
  stroke-width: 3;
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 4;
}

text {
  fill: rgb(255, 0, 0);
  font: "Lato", sans-serif;
  font-weight: bold;
}

.pageContainer {
  display: flex;
  border: black solid 5px;
  height: 100vh;
}

.mapContainer {
  position: relative;
  width: 50vw;
  height: 100%;
  background: rgb(180, 183, 255);
}

.mapLegendContainer {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: 10;
  background-color: white;
  border: 0.2vw rgb(255, 0, 0) dotted;
  padding: 0.2vw 0.5vw 1vw 0.5vw;
  max-width: 22%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.BalearesIslandsLegendContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  border: 0.2vw rgb(255, 0, 0) dotted;
  padding: 1vw;
  font-size: 0.9vw;
}

.mapLegendHeader {
  font-size: 1.6vw;
  /* font-size: clamp(6px, 1.6vw, 22px); */
  white-space: nowrap;
  padding: 0.2vh 0 0.2vh 0.2vh;
  font-weight: bold;
}

.mapLegendList {
  width: 100%;
}

.mapLegendList li {
  font-size: 0.9vw;
  white-space: nowrap;
  padding: 0.2vh 0 0.2vh 0.2vh;
  list-style-type: none;
}

.mapLegendList li:hover {
  transition: 0.6s;
  cursor: pointer;
}

.mapLegendBoxes {
  display: inline-block;
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 0.15vw;
  margin-right: 0.3vw;
}

svg {
  /* border: solid rgb(5, 175, 197) 5px; */
  background: rgb(180, 183, 255);
  max-height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 5%;
}

svg path {
  fill: black;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
}

svg path:hover {
  transition: 0.6s;
  cursor: pointer;
}

.tooltip {
  display: inline-block;
  font-size: 15px;
  position: fixed;
  padding: 0.5em 1em;
  background-color: #f1f1f1;
  z-index: 50;
}

.GaliciaRegion {
  fill: green;
  stroke: green;
}

.GaliciaRegion:hover {
  fill: #26a626;
  stroke: #26a626;
}

#GaliciaBox {
  background: green;
}

.GaliciaListItem:hover {
  background-color: #26a626;
}

.AsturiasRegion {
  fill: rgb(255, 115, 0);
  stroke: rgb(255, 115, 0);
}
.AsturiasRegion:hover {
  fill: #ffa633;
  stroke: #ffa633;
}

#AsturiasBox {
  background-color: rgb(255, 115, 0);
}

.AsturiasListItem:hover {
  background-color: #ffa633;
}

.CantabriaRegion {
  fill: rgb(255, 0, 234);
  stroke: rgb(255, 0, 234);
}

.CantabriaRegion:hover {
  fill: #ff66ff;
  stroke: #ff66ff;
}

#CantabriaBox {
  background-color: rgb(255, 0, 234);
}

.CantabriaListItem:hover {
  background-color: #ff66ff;
}

.BasqueCountryRegion {
  fill: rgb(30, 161, 150);
  stroke: rgb(30, 161, 150);
}

.BasqueCountryRegion:hover {
  fill: #44c7bc;
  stroke: #44c7bc;
}

#BasqueCountryBox {
  background-color: rgb(30, 161, 150);
}

.BasqueCountryListItem:hover {
  background-color: #44c7bc;
}

.NavarraRegion {
  fill: #dfb790;
  stroke: #dfb790;
}

.NavarraRegion:hover {
  fill: #ffeac3;
  stroke: #ffeac3;
}

#NavarraBox {
  background-color: #dfb790;
}

.NavarraListItem:hover {
  background-color: #ffeac3;
}

.AragonRegion {
  fill: rgb(141, 41, 235);
  stroke: rgb(141, 41, 235);
}

.AragonRegion:hover {
  fill: #c05cff;
  stroke: #c05cff;
}

#AragonBox {
  background-color: rgb(141, 41, 235);
}

.AragonListItem:hover {
  background-color: #c05cff;
}

.CataloniaRegion {
  fill: rgb(218, 72, 84);
  stroke: rgb(218, 72, 84);
}

.CataloniaRegion:hover {
  fill: #f4626e;
  stroke: #f4626e;
}

#CataloniaBox {
  background-color: rgb(218, 72, 84);
}

.CataloniaListItem:hover {
  background-color: #f4626e;
}

.LaRiojaRegion {
  fill: #807972;
  stroke: #807972;
}

.LaRiojaRegion:hover {
  fill: #cdc6bf;
  stroke: #cdc6bf;
}

#LaRiojaBox {
  background-color: #807972;
}

.LaRiojaListItem:hover {
  background-color: #cdc6bf;
}

.CastileYLeonRegion {
  fill: rgb(35, 27, 146);
  stroke: rgb(35, 27, 146);
}

.CastileYLeonRegion:hover {
  fill: #635bd2;
  stroke: #635bd2;
}

#CastileYLeonBox {
  background-color: rgb(35, 27, 146);
}

.CastileYLeonListItem:hover {
  background-color: #635bd2;
}

.MadridRegion {
  fill: rgb(255, 215, 0);
  stroke: rgb(255, 215, 0);
}

.MadridRegion:hover {
  fill: #ffff33;
  stroke: #ffff33;
}

#MadridBox {
  background-color: rgb(255, 215, 0);
}

.MadridListItem:hover {
  background-color: #ffff33;
}

.ExtremaduraRegion {
  fill: rgb(12, 166, 238);
  stroke: rgb(12, 166, 238);
}

.ExtremaduraRegion:hover {
  fill: #3fd9ff;
  stroke: #3fd9ff;
}

#ExtremaduraBox {
  background-color: rgb(12, 166, 238);
}

.ExtremaduraListItem:hover {
  background-color: #3fd9ff;
}

.CastileLaManchaRegion {
  fill: rgb(252, 142, 160);
  stroke: rgb(252, 142, 160);
}

.CastileLaManchaRegion:hover {
  fill: #ffc1d3;
  stroke: #ffc1d3;
}

#CastileLaManchaBox {
  background-color: rgb(252, 142, 160);
}

.CastileLaManchaListItem:hover {
  background-color: #ffc1d3;
}

.ValencianCommunityRegion {
  fill: rgb(33, 63, 33);
  stroke: rgb(33, 63, 33);
}

.ValencianCommunityRegion:hover {
  fill: #547254;
  stroke: #547254;
}

#ValencianCommunityBox {
  background-color: rgb(33, 63, 33);
}

.ValencianCommunityListItem:hover {
  background-color: #547254;
}

.ValencianCommunityListItem {
  position: relative;
}

.ValencianCommunityLegendText {
  font-size: 0.7vw;
  position: absolute;
  top: 10%;
}

.MurciaRegion {
  fill: #703902;
  stroke: #703902;
}

.MurciaRegion:hover {
  fill: #bd864f;
  stroke: #bd864f;
}

#MurciaBox {
  background-color: #703902;
}

.MurciaListItem:hover {
  background-color: #bd864f;
}

.AndalusiaRegion {
  fill: rgb(153, 17, 17);
  stroke: rgb(153, 17, 17);
}

.AndalusiaRegion:hover {
  fill: #cc4444;
  stroke: #cc4444;
}

#AndalusiaBox {
  background-color: rgb(153, 17, 17);
}

.AndalusiaListItem:hover {
  background-color: #cc4444;
}

.BalearicIslandsRegion {
  fill: #4d801d;
  stroke: #3d2b1f;
  stroke-width: 2;
}

.BalearicIslandsRegion:hover {
  fill: #80b350;
  stroke: #3d2b1f;
}

#BalearicIslandsBox {
  background-color: #4d801d;
}

.BalearicIslandsListItem:hover {
  background-color: #80b350;
}

.ProvincesOfLasPalmasRegion {
  fill: #cc941a;
  stroke: #000000;
  stroke-width: 2;
}

.ProvincesOfLasPalmasRegion:hover {
  fill: #ffc74d;
  stroke: #000000;
}

#ProvincesOfLasPalmasBox {
  background-color: #cc941a;
}

.ProvincesOfLasPalmasListItem:hover {
  background-color: #ffc74d;
}

.ProvincesOfSantaCruzDeTenerifeRegion {
  fill: #cc1a73;
  stroke: #000000;
  stroke-width: 2;
}

.ProvincesOfSantaCruzDeTenerifeRegion:hover {
  fill: #ff67c0;
  stroke: #000000;
}

#ProvincesOfSantaCruzDeTenerifeBox {
  background-color: #cc1a73;
}

.ProvincesOfSantaCruzDeTenerifeListItem:hover {
  background-color: #ff67c0;
}

.ProvincesOfLasPalmasListItem {
  position: relative;
}

.ProvincesOfLasPalmasLegendText {
  font-size: 0.7vw;
  position: absolute;
  bottom: 25%;
}

.ProvincesOfSantaCruzDeTenerifeListItem {
  position: relative;
}

.ProvincesOfSantaCruzDeTenerifeLegendText {
  font-size: 0.7vw;
  position: absolute;
  top: 10%;
}

.MelillaRegion {
  fill: #0a7eac;
  stroke: #000000;
  stroke-width: 2;
}

.MelillaRegion:hover {
  fill: #67dfff;
  stroke: #000000;
}

#MelillaBox {
  background-color: #0a7eac;
}

.MelillaListItem:hover {
  background-color: #67dfff;
}

.CeutaRegion {
  fill: #e6852b;
  stroke: #000000;
  stroke-width: 2;
}

.CeutaRegion:hover {
  fill: #ffb85e;
  stroke: #000000;
}

#CeutaBox {
  background-color: #e6852b;
}

.CeutaListItem:hover {
  background-color: #ffb85e;
}

.textContainer {
  /* border: solid purple 5px; */
  background-color: rgb(235, 210, 196);
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5vw;
}

.introductionHeader {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.introductionTitle {
  font-size: 2.5vw;
  margin-top: 0.5vw;
}

.spainFlag {
  width: 6vw;
  height: 4vw;
  margin-top: 0.4vw;
}

.introductionText {
  font-size: 1.2vw;
  background-color: rgb(230, 130, 91);
  padding: 1vw;
  border-radius: 1vw;
}

.howToUseButton {
  background-color: #24a0ed;
  border-radius: 1vw;
  padding: 0.5vw;
  margin-bottom: 1vw;
  cursor: pointer;
  font-size: 1.5vw;
}

.howToUseButton:hover {
  background-color: #57d3ff;
}

.modalOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5vw);
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
}

.modalFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.howToUseModal {
  border-radius: 2.5vw;
  width: 80%;
  margin: 0 auto 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border: 5px rgb(203, 231, 255) solid;
  background-color: rgb(203, 231, 255);
  position: relative;
}

.closeModalButton {
  position: absolute;
  top: 0vw;
  right: 0.9vw;
  font-size: 2.8vw;
  height: 1vw;
  color: red;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modalHeader > p {
  margin-left: 1vw;
  padding-bottom: 1vw;
}

.modalHeader > h3 {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  padding: 0.4vw 0 0.4vw 0;
}

.legendHowToUse {
  border-top: 3px solid blue;
  display: flex;
  flex-direction: column;
}

.howToUseH3 {
  text-align: center;
  padding: 0.4vw 0 0.4vw 0;
  font-size: 1.5vw;
}

.legendHowToUse > ul > li:first-child {
  list-style-type: none;
}

.modalSubContainer li {
  padding: 0.4vw 0 0.4vw 0;
  font-size: 0.9vw;
}

.legendHowToUse ul {
  list-style-position: inside;
  padding: 0.5vw;
  font-size: 0.9vw;
}

.mapHowToUse {
  border-top: 3px solid rgb(47, 0, 255);
  display: flex;
  justify-content: space-evenly;
}

.mapHowToUse > ul > li:first-child {
  list-style-type: none;
}

.legendHoverGuide {
  height: calc(width / 3.61);
  width: 30vw;
  align-self: center;
  padding: 0.8vw 0 0.8vw 0;
}

.mapHoverGuide {
  height: 10vw;
  width: 10vw;
  padding: 0.8vw 0 0.8vw 0;
  margin-right: 1.1vw;
}

.infoboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 5px green solid; */
  height: 100%;
  background-color: #ffd679;
}

.flagContainer {
  width: 100%;
  background-color: #e6f4f1;
  height: 25%;
  display: flex;
  justify-content: space-around;
}

.flagSVG {
  width: 15vw;
  max-width: 175px;
  height: 10vw;
  max-height: 90%;
  align-self: center;
}

.population {
  /* border: 5px red solid; */
  background-color: #f88585;
  color: black;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3vw;
  padding: 1vw;
  font-size: 2vw;
}

.areakm2 {
  /* border: 5px rgb(25, 0, 255) solid; */
  background-color: #f88585;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3vw;
  padding: 2vw;
  font-size: 2vw;
}

.infoboxTitle {
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
  text-align: center;
  align-self: center;
}

.touristInfoContainer {
  background-color: #80b350;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.searchIcons {
  font-size: 300%;
}

.iconBox {
  text-align: center;
  flex-basis: 33%;
}

.fa-google:hover {
  color: #4285f4;
  transition: 0.4s;
  cursor: pointer;
}

.fa-sun:hover {
  color: yellow;
  transition: 0.4s;
  cursor: pointer;
}

.fa-bed:hover {
  color: rgb(207, 34, 34);
  transition: 0.4s;
  cursor: pointer;
}

.fa-utensils:hover {
  color: #d4d4d4;
  transition: 0.4s;
  cursor: pointer;
}

.fa-shopping-cart:hover {
  color: #e75f29;
  transition: 0.4s;
  cursor: pointer;
}

.fa-landmark:hover {
  color: #f0de9a;
  transition: 0.4s;
  cursor: pointer;
}

.dataReferences {
  position: absolute;
  font-size: 0.6vw;
  top: 1vw;
  left: 45vw;
  z-index: 100;
}
