* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 240, 219);
}

.pageContainer {
  display: flex;
  border: red solid 5px;
  height: 95vh;
}

.mapContainer {
  position: relative;
  border: solid green 5px;
  width: 50vw;
  height: 100%;
}

.textContainer {
  border: solid purple 5px;
  background-color: rgb(235, 210, 196);
  width: 50vw;
  height: 100%;
}

.mapLegendContainer {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  background-color: white;
  border: 1px black solid;
  padding: 1vw;
}

.mapLegendList {
  width: 100%;
}

.mapLegendList li {
  font-size: 1.1vw;
  white-space: nowrap;
  padding: 0.2vh 0 0.2vh 0.2vh;
  list-style-type: none;
}

.mapLegendBoxes {
  display: inline-block;
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 0.15vw;
  margin-right: 0.3vw;
}

svg {
  border: solid blue 5px;
  background: rgb(210, 211, 243);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 5%;
}

svg path {
  fill: black;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
}

svg path:hover {
  fill: #000000;
  stroke: #000000;
  transition: 0.6s;
  cursor: pointer;
  /* 15% lighter */
}

.GaliciaRegion {
  fill: green;
  stroke: green;
}

.GaliciaRegion:hover {
  fill: #26a626;
  stroke: #26a626;
  transition: 0.6s;
  cursor: pointer;
}

#GaliciaBox {
  background: green;
}

.GaliciaListItem:hover {
  background-color: #26a626;
  transition: 0.6s;
  cursor: pointer;
}

.AsturiasRegion {
  fill: rgb(255, 115, 0);
  stroke: rgb(255, 115, 0);
}
.AsturiasRegion:hover {
  /* 15% lighter */
  fill: #ffa633;
  stroke: #ffa633;
}

#AsturiasBox {
  background-color: rgb(255, 115, 0);
}

.AsturiasListItem:hover {
  background-color: #ffa633;
  transition: 0.6s;
  cursor: pointer;
}

.CantabriaRegion {
  fill: rgb(255, 0, 234);
  stroke: rgb(255, 0, 234);
}

.CantabriaRegion:hover {
  fill: #ff66ff;
  stroke: #ff66ff;
}

#CantabriaBox {
  background-color: rgb(255, 0, 234);
}

.CantabriaListItem:hover {
  background-color: #ff66ff;
  transition: 0.6s;
  cursor: pointer;
}

.BasqueCountryRegion {
  fill: rgb(30, 161, 150);
  stroke: rgb(30, 161, 150);
}

.BasqueCountryRegion:hover {
  fill: #44c7bc;
  stroke: #44c7bc;
}

#BasqueCountryBox {
  background-color: rgb(30, 161, 150);
}

.BasqueCountryListItem:hover {
  background-color: #44c7bc;
  transition: 0.6s;
  cursor: pointer;
}

.NavarraRegion {
  fill: #dfb790;
  stroke: #dfb790;
}

.NavarraRegion:hover {
  fill: #ffeac3;
  stroke: #ffeac3;
}

#NavarraBox {
  background-color: #dfb790;
}

.NavarraListItem:hover {
  background-color: #ffeac3;
  transition: 0.6s;
  cursor: pointer;
}

.AragonRegion {
  fill: rgb(141, 41, 235);
  stroke: rgb(141, 41, 235);
}

.AragonRegion:hover {
  fill: #c05cff;
  stroke: #c05cff;
}

#AragonBox {
  background-color: rgb(141, 41, 235);
}

.AragonListItem:hover {
  background-color: #c05cff;
  transition: 0.6s;
  cursor: pointer;
}

.CataloniaRegion {
  fill: rgb(218, 72, 84);
  stroke: rgb(218, 72, 84);
}

.CataloniaRegion:hover {
  fill: #f4626e;
  stroke: #f4626e;
}

#CataloniaBox {
  background-color: rgb(218, 72, 84);
}

.CataloniaListItem:hover {
  background-color: #f4626e;
  transition: 0.6s;
  cursor: pointer;
}

.LaRiojaRegion {
  fill: #807972;
  stroke: #807972;
}

.LaRiojaRegion:hover {
  fill: #cdc6bf;
  stroke: #cdc6bf;
}

#LaRiojaBox {
  background-color: #807972;
}

.LaRiojaListItem:hover {
  background-color: #cdc6bf;
  transition: 0.6s;
  cursor: pointer;
}

.CastileYLeonRegion {
  fill: rgb(35, 27, 146);
  stroke: rgb(35, 27, 146);
}

.CastileYLeonRegion:hover {
  fill: #635bd2;
  stroke: #635bd2;
}

#CastileYLeonBox {
  background-color: rgb(35, 27, 146);
}

.CastileYLeonListItem:hover {
  background-color: #635bd2;
  transition: 0.6s;
  cursor: pointer;
}

.MadridRegion {
  fill: rgb(255, 215, 0);
  stroke: rgb(255, 215, 0);
}

.MadridRegion:hover {
  fill: #ffff33;
  stroke: #ffff33;
}

#MadridBox {
  background-color: rgb(255, 215, 0);
}

.MadridListItem:hover {
  background-color: #ffff33;
  transition: 0.6s;
  cursor: pointer;
}

.ExtremaduraRegion {
  fill: rgb(12, 166, 238);
  stroke: rgb(12, 166, 238);
}

.ExtremaduraRegion:hover {
  fill: #3fd9ff;
  stroke: #3fd9ff;
}

#ExtremaduraBox {
  background-color: rgb(12, 166, 238);
}

.ExtremaduraListItem:hover {
  background-color: #3fd9ff;
  transition: 0.6s;
  cursor: pointer;
}

.CastileLaManchaRegion {
  fill: rgb(252, 142, 160);
  stroke: rgb(252, 142, 160);
}

.CastileLaManchaRegion:hover {
  fill: #ffc1d3;
  stroke: #ffc1d3;
}

#CastileLaManchaBox {
  background-color: rgb(252, 142, 160);
}

.CastileLaManchaListItem:hover {
  background-color: #ffc1d3;
  transition: 0.6s;
  cursor: pointer;
}

.ValenciaRegion {
  fill: rgb(33, 63, 33);
  stroke: rgb(33, 63, 33);
}

.ValenciaRegion:hover {
  fill: #547254;
  stroke: #547254;
}

#ValenciaBox {
  background-color: rgb(33, 63, 33);
}

.ValenciaListItem:hover {
  background-color: #547254;
  transition: 0.6s;
  cursor: pointer;
}

.MurciaRegion {
  fill: #703902;
  stroke: #703902;
}

.MurciaRegion:hover {
  fill: #bd864f;
  stroke: #bd864f;
}

#MurciaBox {
  background-color: #703902;
}

.MurciaListItem:hover {
  background-color: #bd864f;
  transition: 0.6s;
  cursor: pointer;
}

.AndalusiaRegion {
  fill: rgb(153, 17, 17);
  stroke: rgb(153, 17, 17);
}

.AndalusiaRegion:hover {
  fill: #cc4444;
  stroke: #cc4444;
}

#AndalusiaBox {
  background-color: rgb(153, 17, 17);
}

.AndalusiaListItem:hover {
  background-color: #cc4444;
  transition: 0.6s;
  cursor: pointer;
}
