* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 240, 219);
}

.pageContainer {
  display: flex;
  border: red solid 5px;
  height: 95vh;
}

.mapContainer {
  position: relative;
  border: solid green 5px;
  width: 50vw;
  height: 100%;
}

.textContainer {
  border: solid purple 5px;
  background-color: rgb(235, 210, 196);
  width: 50vw;
  height: 100%;
}

.mapLegendContainer {
  display: flex;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  background-color: white;
  border: 1px black solid;
  padding: 10px;
  width: 20%;
}

.mapLegendList {
  list-style-position: inside;
  width: 100%;
  overflow: hidden;
}

.mapLegendList li {
  font-size: 1.1vw;
  white-space: nowrap;
  padding: 1vh 0 1vh 1vh;
  list-style-type: none;
}

.GaliciaBox {
  display: inline-block;
  width: 0.9vw;
  height: 0.9vw;
  background-color: red;
}

svg {
  border: solid blue 5px;
  background: rgb(213, 213, 247);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 5%;
}

svg path {
  fill: black;
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
}

svg path:hover {
  fill: #006284;
  stroke: #006284;
  transition: 0.6s;
  cursor: pointer;
}

.GaliciaRegion {
  fill: green;
  stroke: green;
}

.AsturiasRegion {
  fill: orange;
  stroke: orange;
}

.CantabriaRegion {
  fill: rgb(255, 0, 234);
  stroke: rgb(255, 0, 234);
}

.BasqueCountryRegion {
  fill: rgb(218, 218, 22);
  stroke: rgb(218, 218, 22);
}

.NavarraRegion {
  fill: rgb(218, 72, 84);
  stroke: rgb(218, 72, 84);
}

.AragonRegion {
  fill: rgb(141, 41, 235);
  stroke: rgb(141, 41, 235);
}

.CataloniaRegion {
  fill: rgb(41, 174, 235);
  stroke: rgb(41, 174, 235);
}

.laRiojaRegion {
  fill: rgb(129, 10, 10);
  stroke: rgb(129, 10, 10);
}

.CastileYLeonRegion {
  fill: rgb(103, 151, 173);
  /* stroke: rgb(103, 151, 173); */
}

.MadridRegion {
  fill: rgb(47, 209, 56);
  stroke: rgb(47, 209, 56);
}

.CastileLaManchaRegion {
  fill: rgb(247, 101, 125);
  stroke: rgb(247, 101, 125);
}

.ExtremaduraRegion {
  fill: rgb(21, 15, 110);
  stroke: rgb(21, 15, 110);
}

.ValenciaRegion {
  fill: gold;
  stroke: gold;
}

.MurciaRegion {
  fill: rgb(30, 161, 150);
  stroke: rgb(30, 161, 150);
}

.AndalusiaRegion {
  fill: rgb(170, 26, 26);
  stroke: rgb(170, 26, 26);
}

/* 
text {
  z-index: 10;
  position: absolute;
} */
